body,
html {
	width: 100%;
	height:100%;
	font-family: 'Caveat', cursive;
	background: url(pretty.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	color: #d0522c;
}

.btn {
	text-transform: uppercase;
	border-radius: 400px;
}

.btn-light {
	border-color:  #d0522c;
	border-width: 5px; 
}

.btn-light:hover {
	border-color: #9e3212;
	border-width: 8px;
}

